/*****************
**** Override ****
******************/
.sw > ul.nav,
.sw > ul.nav > li {
    margin: 0;
}

/**************
**** Utils ****
***************/
.buddyforms-sf-clearfix::after {
    content: "";
    clear: both;
    display: table;
}
