/* NOTE: Use the prefix "bfsf" in all CSS selectors */

/******************
**** Normalize ****
*******************/
.buddyforms-sf * { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.buddyforms-sf {
    font-family: 'Roboto';
}
.buddyforms-sf h1,
.buddyforms-sf h2 {
    font-weight: 500;
}

.buddyforms-sf h1 {
    font-size: 2rem;
}
.buddyforms-sf h2 {
    color: #818181;
    font-size: 1.2rem; 
}

.buddyforms-sf a {
    font-weight: 400;
    text-decoration: none;
    color: #0073aa;
    font-size: 0.85rem;
}

.buddyforms-sf a:hover {
    color: #00a0d2;
}

.buddyforms-sf p {
    font-size: 1rem;
}

/*****************
**** Override ****
******************/
.buddyforms-sf .iconify {
    margin-bottom: -2px;
    width: 0.85rem;
    height: 0.85rem;
}
.buddyforms-sf ul.jqtree-tree ul.jqtree_common {
    margin: 0;
}
.buddyforms-sf ul.jqtree-tree .jqtree-title {
    margin: 0;
}

.buddyforms-sf ul.jqtree-tree li.jqtree-selected > .jqtree-element, ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background-color: #F9F9F9 !important;
    background: none;   
}

.buddyforms-sf ul.jqtree-tree li.jqtree-selected .jqtree-title {
    color: #0073aa;
    font-weight: 500;
}


/***************
**** Layout ****
****************/
.buddyforms-sf {
    margin: 20px 0 0 -20px;
}
.buddyforms-sf-row {
    padding-left: 20px;
    padding-right: 20px;
}
.buddyforms-sf-row::after {
    content: "";
    clear: both;
    display: table;
}
.buddyforms-st-on-viewport {
    height: 75vh;
}
.buddyforms-st-on-viewport > *,
.buddyforms-st-on-viewport > * > * {
    height: 100%;
}

.buddyforms-sf-col-left {
    float: left;
    width: calc(100% - 350px);
}
.buddyforms-sf-col-right {
    float: right;
    width: 350px;
}

/**************
**** Utils ****
***************/
.buddyforms-sf .buddyforms-sf-ml-3 { margin-right: 3rem; }
.buddyforms-sf .buddyforms-sf-mr-3 { margin-left: 3rem; }
.buddyforms-sf .buddyforms-sf-mt-3 { margin-top: 3rem; }
.buddyforms-sf .buddyforms-sf-mb-3 { margin-bottom: 3rem; }
.buddyforms-sf .buddyforms-sf-my-3 { margin: 3rem 0; }
.buddyforms-sf .buddyforms-sf-mx-3 { margin: 0 3rem; }
.buddyforms-sf .buddyforms-sf-ml-2 { margin-right: 2rem; }
.buddyforms-sf .buddyforms-sf-mr-2 { margin-left: 2rem; }
.buddyforms-sf .buddyforms-sf-mt-2 { margin-top: 2rem; }
.buddyforms-sf .buddyforms-sf-mb-2 { margin-bottom: 2rem; }
.buddyforms-sf .buddyforms-sf-my-2 { margin: 2rem 0; }
.buddyforms-sf .buddyforms-sf-mx-2 { margin: 0 2rem; }
.buddyforms-sf .buddyforms-sf-box {
    box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(214, 214, 214, 0.35);
    padding: 15px; 
}
.buddyforms-sf .buddyforms-sf-box-small { 
    box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(214, 214, 214, 0.35);
    padding: 8px 10px; 
}
.buddyforms-sf .buddyforms-sf-flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.buddyforms-sf .buddyforms-sf-btn {
    cursor: pointer;
    background-color: unset;
    border: none;
    color: #6C6C6C;
    font-size: 0.85rem;
}
.buddyforms-sf .buddyforms-sf-btn:hover {
    color: #0073aa;
}

.buddyforms-sf .buddyforms-sf-btn-danger {
    cursor: pointer;
    font-size: 0.85rem;
    color: #D54E21;
    background-color: unset;
    border: none;
}

.buddyforms-sf .buddyforms-sf-btn-danger[disabled] {
    color: #818181;
    cursor: not-allowed;
    opacity: 0.8;
}

/*******************
**** Step Forms ****
********************/
.buddyforms-sf-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #F9F9F9;
    height: 10%;
}

.buddyforms-sf-header .buddyforms-sf-select-form {
    margin-left: 0.8rem;
    background-color: inherit;
    border: 1px solid rgba(214, 214, 214, 0.85);
}

.buddyforms-sf-header > *:last-child {
    margin-left: auto;
}

/**************
**** Steps ****
***************/
.buddyforms-sf-steps {
    background-color: rgba(249, 249, 249, 0.5);
}

.buddyforms-sf-steps {
    padding: 20px 20px;
    overflow-y: auto;
}

/* .buddyforms-sf-steps .jqtree-tree {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x:scroll;
    white-space:nowrap;
    width: 100%;
    height: 100%;
}

.buddyforms-sf-steps .jqtree-tree > li {
    margin-right: 1rem;
    min-width: 250px;
    min-height: 250px;
    display:inline-block;
    white-space:normal;
} */

.buddyforms-sf-steps .buddyforms-sf-step .buddyforms-sf-step-header {
    background-color: #F9F9F9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    border-radius: 5px 50px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 50px 0 0;
    -ms-border-radius: 5px 50px 0 0;
    -o-border-radius: 5px 50px 0 0;
}

.buddyforms-sf-steps .buddyforms-sf-step .buddyforms-sf-step-header > * { margin-right: 10px; }
.buddyforms-sf-steps .buddyforms-sf-step .buddyforms-sf-step-header > * { margin-right: 10px; }
.buddyforms-sf-steps .buddyforms-sf-step .buddyforms-sf-step-header > *:first-child { margin-right: auto; }
.buddyforms-sf-steps .buddyforms-sf-step .buddyforms-sf-step-header > *:last-child { margin-right: 0; }

.buddyforms-sf .buddyforms-sf-field {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffff;
}
.buddyforms-sf .buddyforms-sf-field.last{
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
}

/****************
**** Sidebar ****
*****************/
.buddyforms-sf .buddyforms-sf-sidebar {
    background-color: #fff;
    padding: 0;
}
.buddyforms-sf-sidebar h2 {
    margin-bottom: 1rem;
}

.buddyforms-sf-sidebar-tabs {
    position: relative;
    height: calc(100% - 60px);
}

.buddyfoms-sf-global-sidebar-actions {
    height: 60px;
    border-top: 1px solid rgba(214, 214, 214, 0.5);
    padding: 15px;
    text-align: right;
    background-color: #F9F9F9;
}

.buddyfoms-sf-global-sidebar,
.buddyfoms-sf-block-sidebar {
    padding: 15px;
}

.buddyforms-sf-sidebar .buddyfoms-sf-global-sidebar .buddyfoms-sf-shortcode {
    margin: 2rem 0;
}

.buddyforms-sf-sidebar-tabs .ui-tabs-nav {
    background-color: #F9F9F9;
    border-bottom: 1px solid rgba(214, 214, 214, 0.5);
}
.buddyforms-sf-sidebar-tabs .ui-tabs-nav li {
    display: inline-block;
}
.buddyforms-sf-sidebar-tabs .ui-tabs-nav li.ui-state-active {
    box-shadow: inset 0 -3px #007cba;
    font-weight: 600;
}
.buddyforms-sf-sidebar-tabs .ui-tabs-nav .ui-tabs-anchor {
    display: inline-block;
    padding: 15px;
    outline: none;
    box-shadow: none;
    color: #6C6C6C;
    font-weight: inherit;
}

/*******************
**** Responsive ****
********************/

@media(max-width: 1200px) {}

@media(max-width: 992px) {

    /*Layout mobile mode*/
    .buddyforms-sf-col-left,
    .buddyforms-sf-col-right {
        float: none;
        display: block;
        width: 100%;
    }
    .buddyforms-sf-col-left { height: 80vh; }
    .buddyforms-sf-col-right { height: auto; }
}


@media(max-width: 768px) {}

@media(max-width: 576px) {}